@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.footer-bar {
    width: 100%;
    background-color: navy;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-bar p {
    margin: 0;
    font-size: small;
    color: gray;
}