
.nav-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;

    
    height: 100%;
    background-color: #0534b5;

    overflow-x: hidden;
    transition: 0.5s;
    
    display: flex;
    flex-direction: column;
  }


.nav-bar--open{
    position: absolute;
    top: 20px;
    right: 20px;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #4299e1;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    border-bottom: 4px solid #2b6cb0;
    font-weight: 700;
    color: white;
    line-height: 26px;

}

.nav-bar--open:hover {
    background-color: #483a96;
    color: white;
  }

.nav-bar * {
    margin: 5px 30px 0 15px;
}

.button{
    background-color: white;
    color: black;
    border: 2px solid #555555;
    margin-top: 20px;
    border-radius: 12px;
}

.button:hover {
    background-color: #353840;
    color: white;
  }

  .nav-bar--close {
    font-size: 45px;
    font-weight: 600;
    cursor: pointer;
    color:white;
  }

  .nav-bar--close:hover{
    color:#7f828a;
  }
/*///////////////////////////////////*/
  input, select{
    border-radius: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  /*///////////////////////////////////*/
  input:focus, select:focus {
    outline: none;
    box-shadow: 0 0 0px #aaa;
    border-color: black;
  }

  hr {
    height: 1px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(223, 213, 213, 0.75), rgba(255, 255, 255, 0));
    border: none;
  }

  label{
    color: white;
  }