
.table-display {
    /* deletes gap between rows and data */
    border-collapse: collapse;

    display: block;
    width: 100%;
    
    height: auto;
    margin-bottom: auto;

    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: auto;  /* Hide the horizontal scroll */
}

.table-display__thead .table-data {
    padding: 5px 10px 5px 10px;
    text-transform: capitalize;
    font-weight: bold;
}

.table-row {
    width: 100%;
}

.table-data {
    /* changes border color of table */
    border: 1px solid black;
    min-width: 20px;
    
    background-color: whitesmoke;
    padding: 0;
}

.table-data input, .table-data select {
    width: fit-content;
    
    margin: 0;
    padding: 5px 10px 5px 10px;
    border: none;
}

.table-data input:active, .table-data select:active {
    min-width: fit-content;
    width: inherit;
    margin: 0;
    padding: 5px 10px 5px 10px;
    border: none;
}